allow bluetooth storage_stub_file:dir { getattr } ;
allow bluetooth_loader persist_bluetooth_file:dir search;
allow bluetooth_loader persist_bluetooth_file:file { read open };
