type debugfs_rmt, debugfs_type, fs_type;
type debugfs_wlan, debugfs_type, fs_type;
type sysfs_smart_charger, fs_type, sysfs_type;
type sysfs_touchpanel, fs_type, sysfs_type;
