allow fingerprintd tee_device:chr_file { read write ioctl open };
r_dir_file(fingerprintd, firmware_file)
allow fingerprintd storage_file:dir search;
allow fingerprintd uhid_device:chr_file rw_file_perms;
allow fingerprintd system_data_file:file { open };
allow fingerprintd init:process { signull };
allow fingerprintd device:fifo_file { write lock open read create };
allow fingerprintd fingerprintd_data_file:fifo_file { write lock open read create };
allow fingerprintd fingerprintd_data_file:dir rw_dir_perms;
allow fingerprintd fingerprintd_data_file:file create_file_perms;
allow fingerprintd fingerprintd_data_file:sock_file create_file_perms;
allow fingerprintd input_device:dir r_dir_perms;
allow fingerprintd input_device:chr_file r_file_perms;
allow fingerprintd firmware_file:file { read getattr open };
allow fingerprintd sysfs:file write;
allow fingerprintd system_data_file:dir { write remove_name add_name };
allow fingerprintd system_data_file:sock_file { create unlink };
allow fingerprintd vfmService:process { signull };
