allow hal_fingerprint_default fingerprintd_data_file:fifo_file { lock open read write };
allow hal_fingerprint_default tee_device:chr_file { ioctl open read write };
allow hal_fingerprint_default vfmService:process signull;
