allow hal_camera_default camera_data_file:dir search;
allow hal_camera_default camera_data_file:sock_file write;
allow hal_camera_default hal_configstore_default:binder call;
allow hal_camera_default hal_configstore_ISurfaceFlingerConfigs:hwservice_manager find;
allow hal_camera_default mediaserver:binder { call transfer };allow hal_camera_default firmware_file:dir search;
