allow priv_app device:dir open;
allow priv_app proc_interrupts:file open;
allow priv_app proc_modules:file { getattr open };
allow priv_app sysfs:file { open read };

allow priv_app sysfs:file getattr;

