# Fast charger
type smart_charger, domain;
type smart_charger_exec, exec_type, file_type;

init_daemon_domain(smart_charger)

allow smart_charger sysfs_smart_charger:file rw_file_perms;
allow smart_charger sysfs_smart_charger:file setattr;
allow smart_charger sysfs_smart_charger:dir search;
allow smart_charger sysfs:file { read open };
allow smart_charger device:dir write;
allow smart_charger kmsg_device:chr_file { write open };
allow smart_charger self:netlink_kobject_uevent_socket { read create bind setopt };
allow smart_charger sysfs:file write;
allow smart_charger self:capability net_admin;
allow smart_charger self:capability2 block_suspend;
