allow system_server vendor_keylayout_file:file r_file_perms;

allow system_server vfmService:process signull;

allow system_server vfsspi_device:dir search;
allow system_server vfsspi_device:fifo_file { lock open read write };

set_prop(system_server, sensors_prop);
