type vfmService, domain;
type vfmService_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(vfmService)

typeattribute vfmService data_between_core_and_vendor_violators;
# access to /data/system/users/[0-9]+/fpdata
allow vfmService fingerprintd_data_file:dir rw_dir_perms;
allow vfmService fingerprintd_data_file:file create_file_perms;

allow vfmService firmware_file:dir search;
allow vfmService firmware_file:file r_file_perms;

allow vfmService hal_fingerprint_default:process signull;

allow vfmService ion_device:chr_file rw_file_perms;

allow vfmService system_server:process signull;

allow vfmService tee_device:chr_file rw_file_perms;

allow vfmService uhid_device:chr_file rw_file_perms;

allow vfmService vfsspi_data_file:dir rw_dir_perms;
allow vfmService vfsspi_data_file:file create_file_perms;

allow vfmService vfsspi_device:dir create_dir_perms;
allow vfmService vfsspi_device:chr_file rw_file_perms;
allow vfmService vfsspi_device:fifo_file create_file_perms;
allow vfmService vfsspi_device:file create_file_perms;

set_prop(vfmService, vendor_fp_gesture_prop);
