# vfmService daemon
type vfmService, domain;
type vfmService_exec, exec_type, file_type;

init_daemon_domain(vfmService)

allow vfmService device:dir { write add_name setattr };
allow vfmService device:file { read write open lock create };
allow vfmService fingerprintd_data_file:file create_file_perms;
allow vfmService fingerprintd_data_file:dir { write add_name read open remove_name search setattr };
allow vfmService tee_device:chr_file { open read write ioctl };
allow vfmService firmware_file:file { read open getattr };
allow vfmService ion_device:chr_file { read open ioctl };
allow vfmService vfs_device:chr_file { read write open ioctl };
allow vfmService fingerprintd:process { signull };
allow vfmService device:fifo_file { write lock open read create };
allow vfmService system_data_file:dir { write };
allow vfmService uhid_device:chr_file { read write open ioctl };
allow vfmService fingerprintd_data_file:fifo_file { write lock read open create };
r_dir_file(vfmService, firmware_file)
allow vfmService vfat:file { getattr open read write } ;
allow init fingerprintd_data_file:fifo_file { lock } ;
allow init fingerprintd_data_file:fifo_file { write } ;
allow init hal_fingerprint_hwservice:hwservice_manager { add } ;
allow init vfmService:process { signull } ;
allow vfmService hal_fingerprint_default:process { signull } ;
allow vfmService init:process { signull } ;

