import init.lenovo.sensor.rc
import init.mmi.usb.rc

on early-init
    # Create modem FSG mount point
    mkdir /fsg 755 root root

on fs
    # use /persist as phony PDS partition
    symlink /persist /pds

    # Mount modem FSG partition
    wait /dev/block/bootdevice/by-name/fsg
    mount ext4 /dev/block/bootdevice/by-name/fsg /fsg ro nosuid nodev barrier=0 context=u:object_r:fsg_file:s0

on post-fs
    mkdir /persist/public/hiddenmenu 0755 radio radio
    mkdir /persist/public/locale 0700 system system
    mkdir /persist/public/omadm 0700 radio radio
    mkdir /persist/public/svcs 0770 system system
    mkdir /persist/mdm 0770 radio radio
    chmod 0660 /persist/wifi/wlan_mac.bin
    chmod 0600 /persist/whisper/whisper_only/vector0.bin


on boot
# access permission for rgb led
    chmod 0664	/sys/class/leds/rgb/brightness
    chown system system /sys/class/leds/rgb/brightness
    chown system system /sys/class/leds/rgb/blink

# Change ownership for Dynamic-CABC feature
    chown system system /sys/class/graphics/fb0/cabc_mode
# Change ownership for for HBM feature
    chown system system /sys/class/graphics/fb0/hbm
# Change ownership for for ACL feature
    chown system system /sys/class/graphics/fb0/acl_mode
# Change ownership for for seed feature
    chown system system /sys/class/graphics/fb0/color_profile
